* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  color: white;
  background: #333333;
}

img.svg {
  width: 3vmin;
  margin-right: 0.3rem;
}

article {
  margin: 5vmin auto;
  padding: 5vmin;
  background: #1a1a1b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
article p {
  display: inline;
}

.comment {
  padding: 5vmin;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.comment p {
  display: inline;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 11vmin;
  line-height: 11vmin;
  background: #1a1a1b;
}
nav a {
  color: inherit;
  font-size: 1.6vmin;
  display: flex;
  flex-wrap: nowrap;
  page-break-after: avoid;
}
nav a.logo {
  font-size: 7vmin;
  font-weight: bold;
  color: #FF5700;
  margin-left: 2vmin;
}
nav #searchSpace:has(> a) {
  border: 1px solid #FF5700;
}
nav #searchSpace a {
  display: inline;
}
nav .nav-list {
  position: absolute;
  background: #1a1a1b;
  width: 100%;
  top: 10vmin;
  left: 0;
  display: grid;
}
nav .nav-list input[type=text] {
  background: #272729;
  border-radius: 10rem;
  border: none;
  padding: 1rem;
  color: white;
  box-sizing: border-box;
  width: 100%;
}
nav .nav-list .nav-item {
  display: none;
  margin: 0 2rem;
}
nav .nav-list .nav-item:hover {
  background: #FF5700;
}
nav .navbar-toggler {
  display: grid !important;
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto 0;
  margin-right: 2vmin;
  cursor: pointer;
}
nav .navbar-toggler .bar {
  width: 6vmin;
  height: 1vmin;
  margin: 0.2rem 0;
  background: #FF5700;
  transition: 0.5s;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ nav .nav-list .nav-item {
  display: grid;
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (550px <= width < 1730px) {
  .nav-list .nav-item:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -7vmin;
    margin-left: 30vmin;
    width: 40vw;
  }
  .nav-list .nav-item:nth-child(1) input[type=text] {
    padding: 1.5vmin;
  }
  .nav-list .nav-item:nth-child(1):hover {
    background: none;
  }
  #searchSpace {
    background: #1a1a1b;
    padding-left: 1vw;
  }
  #searchSpace:nth-last-child(1) {
    border-radius: 0 0 25px 25px;
  }
}
@media screen and (width >= 1730px) {
  nav .nav-list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
  }
  nav .nav-list .nav-item {
    display: inline;
  }
  nav .nav-list .nav-item:has(> input[type=text]) {
    width: 100%;
    min-width: 0;
  }
  nav .nav-list .nav-item input[type=text] {
    width: 100%;
  }
  nav .nav-list .nav-link {
    color: white;
    font-size: 1rem;
  }
  nav .nav-list .nav-link:hover {
    background: none;
  }
  nav .navbar-toggler .bar {
    display: none;
  }
  #searchSpace {
    background: #1a1a1b;
    padding-left: 1vw;
  }
  #searchSpace:nth-last-child(1) {
    border-radius: 0 0 25px 25px;
  }
}/*# sourceMappingURL=style.css.map */