@use "sass:math"

$orange: #FF5700
$background: #333333
$font-color: white
$selected-font-color: $background
$navbar-background: #1a1a1b
$post-background: #1a1a1b
$navbar-search-bar-background: #272729
$navbar-highlight-color: $orange
$background-hamburger: #ffffff
$navbar-dimension: 10vmin
$media-query-1: 550px
$media-query-2: 1730px


*
    margin: 0
    padding: 0
    list-style: none
    outline: none
    text-decoration: none

body
    color: $font-color
    background: $background

@mixin imgAndp()
    p
        display: inline
    img
        &.svg
            width: 3vmin

article
    margin: 5vmin auto
    padding: 5vmin
    background: $post-background
    width: fit-content
    @include imgAndp()

.comment
    padding: 5vmin
    width: fit-content
    @include imgAndp()

nav
    position: sticky
    display: flex
    justify-content: space-between
    width: 94%
    padding: 0 3%
    height: $navbar-dimension
    line-height: $navbar-dimension
    background: $navbar-background
    a
        color: inherit
        font-size: 1.2rem
        &.logo
            font-size: 7vmin
            font-weight: bold
            color: $orange
    .nav-list
        position: absolute
        background: $navbar-background
        width: 100%
        top: $navbar-dimension
        left: 0
        display: grid
        input[type=text]
            background: $navbar-search-bar-background
            border-radius: 10rem
            border: none
            padding: 1rem
            color: $font-color
            box-sizing: border-box
            width: 100%
        .nav-item
            padding: 0 2.7vw
            display: none
            &:hover
                background: $orange
            :not(input[type=text])
                padding: 0 0.3rem
        .nav-link
            color: #f1f1f1
            font-size: 1.2rem
    .navbar-toggler
        display: grid !important
        display: none
        height: min-content
        margin: auto 0
        cursor: pointer
        .bar
            width: 6vmin
            height: 1vmin
            margin: 0.2rem 0
            background: $orange
            transition: 0.5s
input[type=checkbox]
    display: none
    &:checked ~ nav
        .nav-list
            .nav-item
                display: grid
        .navbar-toggler
            .bar
                &:nth-child(1)
                    position: absolute
                    transform: rotate(45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: rotate(-45deg)

@media screen and ($media-query-1 <= width < $media-query-2)
    .nav-list
        .nav-item:nth-child(1)
            display: grid
            position: absolute
            margin-top: math.div(-$navbar-dimension, 1.3)
            margin-left: 30vmin
            width: 40vw
            min-width: 20vw
            input[type=text]
                padding: 1.5vmin
            &:hover
                background: none
    #searchSpace
        background: $navbar-background
        padding-left: 1vw
        &:nth-last-child(1)
            border-radius: 0 0 25px 25px

@media screen and (width >= $media-query-2)
    nav
        position: sticky
        height: 10vmin
        line-height: 10vmin
        .nav-list
            position: relative
            display: flex
            justify-content: left
            flex-wrap: wrap
            top: 0
            input[type=text]
                min-width: 25vw
            .nav-item
                display: inline
                &:hover
                    background: $navbar-background
            .nav-link
                color: $font-color
                font-size: 1rem
        .navbar-toggler
            .bar
                display: none
