* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  color: white;
  background: #333333;
}

p {
  color: white;
  display: inline;
}

a {
  color: red;
}
a:hover {
  color: #FF5700;
}

img.svg {
  width: 3vmin;
  margin-right: 0.5rem;
}

article {
  margin: 5vmin auto;
  padding: 5vmin;
  background: #1a1a1b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.comment {
  padding: 5vmin;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ nav .nav-list .nav-item {
  display: grid;
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}
input[type=checkbox]:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 11vmin;
  background: #1a1a1b;
}
nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: inherit;
  font-size: 1.6vmin;
  display: flex;
  flex-wrap: nowrap;
}
nav a.logo {
  font-size: 5vmax;
  font-weight: bold;
  color: #FF5700;
  margin-left: 2vmin;
}
nav .nav-list {
  position: absolute;
  background: #1a1a1b;
  width: 100%;
  top: 10vmin;
  left: 0;
  display: grid;
}
nav .nav-list input[type=text] {
  background: #272729;
  border-radius: 10rem;
  border: none;
  padding: 1vmin 2vmin;
  color: white;
  box-sizing: border-box;
  width: 100%;
}
nav .nav-list .nav-item {
  display: none;
  margin: 0 2rem;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}
nav .nav-list .nav-item #searchSpace {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
nav .nav-list .nav-item #searchSpace .search-result {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2vmin 1vmin;
}
nav .nav-list .nav-item #searchSpace .search-result a, nav .nav-list .nav-item #searchSpace .search-result p {
  display: inline;
  width: 100%;
  height: 100%;
}
nav .nav-list .nav-item #searchSpace:has(*) {
  border-bottom: 3px solid #FF5700;
}
nav .nav-list .nav-item:hover:not(:has(> #searchSpace)), nav .nav-list .nav-item #searchSpace > a:hover {
  color: #FF5700;
}
nav .navbar-toggler {
  display: grid !important;
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto 0;
  margin-right: 2vmin;
  cursor: pointer;
}
nav .navbar-toggler .bar {
  width: 6vmin;
  height: 1vmin;
  margin: 0.2rem 0;
  background: #FF5700;
  transition: 0.5s;
}

@media screen and (width >= 1180px) {
  nav .nav-list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
  }
  nav .nav-list .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .nav-list .nav-item:has(> input[type=text]) {
    width: 100%;
    min-width: 0;
  }
  nav .nav-list .nav-item input[type=text] {
    width: 100%;
  }
  nav .nav-list .nav-item.nav-link {
    color: white;
  }
  nav .nav-list .nav-item.nav-link a, nav .nav-list .nav-item.nav-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  nav .nav-list .nav-item:has(> #searchSpace) {
    display: inline;
    margin: auto 0;
  }
  nav .nav-list .nav-item:has(> #searchSpace) #searchSpace {
    position: absolute;
    display: flex;
    justify-content: start;
    background: #272729;
  }
  nav .nav-list .nav-item:has(> #searchSpace) #searchSpace .search-result > a, nav .nav-list .nav-item:has(> #searchSpace) #searchSpace p {
    display: inline;
    margin: 0 1vmin;
    max-width: 100%;
  }
  nav .nav-list .nav-item:has(> #searchSpace) #searchSpace:has(*) {
    border-bottom: none;
  }
  nav .nav-list input[type=text]:has(~ #searchSpace:not(:empty)) {
    border-bottom-left-radius: 0;
  }
  nav .navbar-toggler .bar {
    display: none;
  }
  #searchSpace {
    background: #1a1a1b;
  }
  #searchSpace:nth-last-child(1) {
    border-radius: 0 0 25px 25px;
  }
}/*# sourceMappingURL=style.css.map */